<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NodeJS HW2</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body class="body">
<header class="header">
    <div>
        <nav class="hide-on-auth header-nav">
            <a href="#" id="log-in" class="header-li">Log in</a>
            <a href="#" id="register" class="header-li">Register</a>
        </nav>
        <nav class="show-on-auth header-nav">
            <a href="#" id="user" class="header-li">User settings</a>
            <a href="#" id="log-out" class="header-li">Log out</a>
        </nav>
    </div>
    <div class="show-on-auth">
        <ul class="header-nav">
            <a href="#" id="add-note" class="btn btn-blue">Create new note</a>
        </ul>
    </div>
</header>
<main class="main">
    <div id="user-popup" class="popup-wrapper hidden">
        <div class="popup">
            <button class="btn popup-btn-close" id="user-close">x</button>
            <h3 class="popup-heading">User info & settings</h3>
            <div>
                <p class="text-secondary popup-text"><b>Username: </b><span id="user-username"></span></p>
                <p class="text-secondary popup-text"><b>Registered: </b><span id="user-date"></span></p>
            </div>

            <input type="password" id="user-old-password" placeholder="Current password">
            <input type="password" id="user-new-password" placeholder="New password">
            <button class="btn" id="user-change-pwd">Change password</button>
            <button class="btn btn-delete" id="user-delete">Delete account</button>
        </div>
    </div>
    <div id="note-popup" class="popup-wrapper hidden">
        <div class="popup">
            <button class="btn popup-btn-close" id="new-note-close">x</button>
            <h3 class="popup-heading">Create new note</h3>
            <textarea cols="40" rows="5" id="new-note-text"></textarea>
            <button class="btn" id="new-note-submit">Create</button>
        </div>
    </div>
    <div id="login-popup" class="popup-wrapper hidden">
        <div class="popup">
            <button class="btn popup-btn-close" id="login-close">x</button>
            <h3 class="popup-heading">Login</h3>
            <input type="text" placeholder="username" id="login-username">
            <input type="password" placeholder="password" id="login-password">
            <button class="btn" id="login-submit">Log in</button>
        </div>
    </div>
    <div id="register-popup" class="popup-wrapper hidden">
        <div class="popup">
            <button class="btn popup-btn-close" id="register-close">x</button>
            <h3 class="popup-heading">Register</h3>
            <input type="text" placeholder="username" id="register-username">
            <input type="password" placeholder="password" id="register-password">
            <button class="btn" id="register-submit">Create account</button>
        </div>
    </div>
    <section class="hide-on-auth greeting-wrapper">
        <div class="greeting-container">
            <h1>Welcome to Notes API.</h1>
            <p>Please, log in to access the API functionality.</p>
        </div>
    </section>
    <section class="show-on-auth notes-wrapper">
        <div>
            <button id="refresh" class="btn">Refresh notes</button>
        </div>
        <div>
            <h2>Your notes</h2>
            <div id="notes-container"></div>
        </div>
    </section>

</main>
<footer class="footer">
    <span class="footer-span">Made by <a class="author-link" href="https://gitlab.com/mykyta-isikov/NODEJS_HW2">mykyta-isikov</a></span>
</footer>

<template id="note-template">
    <div class="note">
        <div class="note-heading">
            <div class="checkbox-container">
                <input type="checkbox" class="note-checkbox" disabled>
            </div>
            <div class="note-buttons">
                <button class="btn note-btn check-note-btn">&#10003;</button>
                <button class="btn note-btn edit-note-btn">&#128393;</button>
                <button class="btn note-btn delete-note-btn">&#10799;</button>
            </div>
        </div>
        <div>
            <p class="note-content"></p>
            <div class="edit-note-form hidden">
                <textarea class="note-content-input" cols="30" rows="4"></textarea>
<!--                <input type="text" class="note-content-input">-->
                    <button class="btn edit-note-submit-btn">Confirm</button>
            </div>
        </div>

    </div>
</template>

<script src="/scripts/utils.js"></script>
<script src="/scripts/index.js"></script>
<script src="/scripts/loginPopup.js"></script>
<script src="/scripts/registerPopup.js"></script>
<script src="/scripts/newNotePopup.js"></script>
<script src="/scripts/userPopup.js"></script>
<script src="/scripts/header.js"></script>
<script src="/scripts/main.js"></script>
</body>
</html>