* {
    padding: 0;
    margin: 0;
    font-family: Arial, 'sans-serif';
}

.body {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none !important;
}

.text-secondary {
    font-size: 0.7em;
    color: #414141;
}

.header {
    background-color: #778899;
    padding: 0 2em;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 40px;
}

.header-li {
    text-decoration: none;
    color: black;
}

.header-li:visited {
    color: black;
}

.header-li:hover {
    cursor: pointer;
}

.main {
    padding: 0 30px;
}

.popup-wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.popup {
    position: relative;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    min-height: 200px;
    width: 300px;
    background-color: white;
}

.popup-btn-close {
    position: absolute;
    top: 0;
    right: 0;
}

.popup-heading {
    margin-bottom: 1em;
}

.greeting-container {
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.notes-wrapper {
    max-width: 600px;
    margin: 1em auto;
}

.note {
    position: relative;
    box-shadow: 0 0 3px 0 rgba(93, 93, 93, 0.25);
    border-radius: 5px;
    border: 0px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.note-heading {
    min-height: 30px;
    display: flex;
    justify-content: space-between;
}

.note-buttons {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: right;
    gap: 5px;
}

.note-checkbox {

}

.edit-note-form {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px
}

.note-content-input {
    width: 100%;
    box-sizing: border-box;
    font-size: 1em;
}

.footer {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100px;
    background-color: #cfdbe9;
}

.author-link {
    color: #778899;

}

.btn {
    padding: 6px 14px;
    text-decoration: none;
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 14px;
}

.btn:hover {
    cursor: pointer;
    background-color: black;
    color: white;
    transition: 500ms;
}